import(twitteR)
importFrom(RMySQL,dbDriver)
importFrom(RMySQL,dbConnect)
importFrom(RMySQL,dbGetQuery)
importFrom(RMySQL,dbSendQuery)
importFrom(RMySQL,fetch)
importFrom(RMySQL,mysqlCloseConnection)
export(get_tweet)
export(testr)
export(weekRecruit)